#list {
		margin: 10px;
		width: 180px;
		list-style: none;
		padding: 0px;
}

#list > li {
	display: block;
	background-color: #CEEBCE;	
}

#list > li:FIRST-CHILD {
	background-color: #838F9B;
	text-align: center;
}

#contentList {
	list-style: none;
	padding: 5px;
}

#contentList > li {
	display: block;
	text-align: center;
}

#contentList > li:hover {
	background-color: #838F9B;
	cursor: move;
}