#top-container {
	background-color: white;
}

.container {
	background-color: white;
	min-height: 100px;
	overflow-y: auto; 
}

	.hor-stack > div {
	    margin-left: 10px;
	    float: left;
	    height: 100%;
	}
	
	.hor-stack > div:FIRST-CHILD {
	    margin-left: 0px;
	}
	
	.ver-stack > div {
	    margin-top: 10px;
	}
	
	.ver-stack > div:FIRST-CHILD {
	    margin-top: 0px;
	}

.tileContainer {
    background-color: #E6E6FC;
    min-height: 100px;
    overflow-y: auto;
}

	.tileContainer > p.tile {
	    margin-top: 10px;
	    margin-left: 10px;
	    margin-right: 10px;
	    margin-bottom: 0;
	}
    .tileContainer > p.tile:last-child {
        margin-bottom: 40px;
    }

.tile {
    background-color: #F7F7F9;
    text-align: center;
    font-size: 20px;
    line-height: 2em;
}

.sortable-placeholder {
	background-color: yellow;
	min-height: 40px;
	background-color: yellow;
}

	 .tile > .pseudo-del {
	 	opacity: 0;
	 	position: relative;
	 	right: 5px;
	 	top: 5px;
	 	float: right;
	 	font-size: 12px;
	 	line-height: 1em;
	 	background-color: yellow;
	 }
	 
	 .tile:hover > .pseudo-del {
	 	opacity: 1;
	 }
	 
	 .tile > .pseudo-del:hover {
	 	cursor: pointer;
	 }
