.tileContainer-contextMenu {
    list-style: none;
    padding: 4px;
    background-color: yellow;
    cursor: default;
    margin-top: 0px;
}

.tileContainer-contextMenu li {
    font-family: verdana;
    font-size: 13px;
}

.tileContainer-contextMenu li a {
    text-decoration: none;
}

.tileContainer-contextMenu li:hover {
    background-color: #A8A8A8;
    color: white;
}